/* Main color, font of the page*/
body {
  font-family: "Montserrat", sans-serif;
  text-shadow: 1px 1px 3px #0000009a;
  color: white;
  background-color: rgba(167, 166, 166, 0.749);
}
.City {
  padding: 10px;
  margin: 50px auto;
  max-width: 600px;
  background: linear-gradient(-45deg, #44ddf4, #8f62f6, #fb55ab, #fec55c);
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
}
@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.search-button {
  text-align: right;
  padding: 7px 16px;
  box-shadow: 1px 1px 5px rgba(255, 255, 255, 0.567);
  color: white;
  margin-right: 5px;
  border-radius: 4px;
  border: none;
  background: linear-gradient(-45deg, #fec55c, #fb55ab, #8f62f6, #44ddf4);
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
}
@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
/* Main color, font of the Search-bar*/
.search-panel {
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: nowrap;
  padding: 3px 0;
  text-align: center;
}
.form-for-city {
  width: 350px;
  box-sizing: border-box;
  border: 0;
  border-radius: 4px;
  color: white;
  background-color: rgba(255, 255, 255, 0.567);
  margin-right: 5px;
  padding: 7px 15px;
}

/* Size of City*/
.current-city {
  font-size: 35px;
  padding-top: 25px;
}

/* Size of current degrees in city */

.forecast-today {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}

.current-degrees {
  font-size: 100px;
}
.units {
  text-decoration: none;
  margin-bottom: 60px;
  font-weight: bolder;
}

.current-weather {
  font-size: 12px;
  text-transform: capitalize;
}

.current-humidity,
.current-wind-speed {
  font-size: 12px;
}

.weather-forecast {
  display: flex;
  justify-content: space-around;
  text-align: center;
}

/* About author */
.author {
  display: block;
  text-align: center;
}
/* Linckedin icon */
.linkedin-image {
  font-size: 20px;
}
a:any-link {
  color: white;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
