/* Main color, font of the page*/
body {
  font-family: "Montserrat", sans-serif;
  text-shadow: 1px 1px 3px #0000009a;
  color: white;
  background-color: rgba(167, 166, 166, 0.749);
}
.City {
  background: linear-gradient(-45deg, #44ddf4, #8f62f6, #fb55ab, #fec55c);
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
}
@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.search-button,
button {
  background: linear-gradient(-45deg, #fec55c, #fb55ab, #8f62f6, #44ddf4);
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
}
@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
/* Main color, font of the Search-bar*/
.search-panel {
  padding: 3px 0;
  text-align: right;
}
.form-for-city {
  width: 300px;
  box-sizing: border-box;
  border: 0;
  border-radius: 4px;
  color: white;
  background-color: rgba(255, 255, 255, 0.567);
  margin-right: 5px;
  padding: 7px 15px;
  transition: width 0.4s ease-in-out;
}
.form-for-city:focus {
  width: 60%;
}
/* Main color, font of the Search-bar*/
.search-button,
button {
  text-align: right;
  padding: 7px 16px;
  color: white;
  margin-right: 5px;
  border-radius: 4px;
  border: none;
}
.City {
  padding: 10px;
  margin: 50px auto;
  max-width: 600px;
}
/* Size of City*/
.current-city {
  font-size: 35px;
  padding-top: 25px;
}

/* Size of current degrees in city */
.max-min-temp {
  text-align: right;
}
.forecast-today {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}
.weather-image img {
  opacity: 90%;
}
.current-degrees {
  font-size: 35px;
}
.units {
  text-decoration: none;
  margin-bottom: 15px;
}
a:link {
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}

.current-weather {
  font-size: 15px;
  text-transform: capitalize;
}
.maxTemp,
.minTemp,
.current-humidity,
.current-wind-speed {
  font-size: 12px;
}

/* About author */
.author {
  display: block;
  text-align: center;
}
/* Linckedin icon */
.linkedin-image {
  font-size: 20px;
}
a:any-link {
  color: white;
}
